@model toyoda.Models.cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTipoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstadoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstadoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPersona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
