@model IEnumerable<toyoda.Models.persona>

@{
    ViewBag.Title = "   Lista personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primerNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.primerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoApellido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idPersona }) |
                @Html.ActionLink("Detailles", "Details", new { id = item.idPersona }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idPersona })
            </td>
        </tr>
    }

</table>
